div{
    height: 100px;
    width: 100px;
    background-color: blue;
    animation-name: coloranimation;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    border-radius: 360px;
    position: absolute;
    top: 100px; 
    left: 100px;
    

    
}
@keyframes coloranimation{

    from{background-color: blue;}
    to{background-color: brown;}
}
